.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: #fff;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: none;
  margin-bottom: 0;
  
}

.header-left .logo-placeholder {
  font-size: 1.2rem;
  font-weight: 700;
  color: #007bff; /* Blue accent */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.header-left .logo-placeholder p:last-child {
  font-size: 1rem;
  color: #e0e0e0;
}

.header-right .user-info {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.user-info .last-login {
  color: #ccc;
  margin-right: 1.5rem;
  font-size: 1.2rem;
}

.user-info .welcome-user {
  font-weight: 600;
  color: #007bff;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.header-separator {
  margin: 0 0.5rem;
  color: #444;
}

.header-link {
  color: #ff4d4d; /* Red accent */
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
  font-size: 1.2rem;
}

.header-link:hover {
  color: #ff7777;
}
/* Remove default <p> spacing in the header */
.header-container p {
  margin: 0;
}
